<head>
	<body>
		<br><br>
		
		
		<img src="http://imageshack.com/a/img903/908/piJ1VD.png" align="left" height="100" widith="100" >
		
		<!-- http://imageshack.com/a/img903/908/piJ1VD.png
		http://imageshack.com/a/img911/5268/bx0RjI.png -->
		

		<!-- <img scr=".\home\eduardo\Documentos/RubyE/discipule1.png" align="left" height="100" widith="100"> -->

		<blockquote><blockquote><blockquote>
			<font face="denmark" color="#0000B8"><h2> Cadastro de Conteúdos Online </h2></font>
		</blockquote></blockquote></blockquote>
		<!-- <h1 align="center">Cadastro de Conteúdos</h1></br></br> -->

		<br><br><br>
		<blockquote><font face="arial" color="#0000ff"><h3> 1.1 Cadastro de Usuário </h3></font></blockquote>
		<br>
		
		<font face="arial" size="3" color="#000000">
			<blockquote><blockquote><p align="justify"> Exemplo de texto </p></blockquote></blockquote>
		</font>


		<!-- <font face="arial" size="3" color="#000000">
			<p align="justify"> Este, é o 1º parágrafo deste subtítulo. </p>
			<p align="justify"> Este, é o 2º parágrafo deste subtítulo. </p>
			<p align="justify"> Continuação deste texto até a sua conclusão. </p>
		</font> -->

		<br>
		<blockquote><font face="arial" color="#0000ff"><h3> 1.2 Inserir </h3></font></blockquote>
		<br>

		<h5 align="center"><img src="http://imageshack.com/a/img911/5268/bx0RjI.png" align="center" height="40" widith="40" ></h5>
		<h5 align="center"><img src="http://www.lucianosimas.com.br/blog/wp-content/themes/wordpress-brown/images/sombra.gif"></h5>
		<!--
			<title>Title of the document</title></br></u>
			<p><u>This is a paragraph.</u></p></br>
			<h1><blockquote><blockquote><blockquote>This is a Heading</blockquote></h1></br>
			&nbsp; espaco
			<b>Negrito</b></br>
			<i> Itálico</i></br>
			<sub>Subscrito</sub></br>
			<u>Sublinhado</u></br> 
			<img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142" 

		-->
	

	

		


	</body>
</head>